<div class="min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
        <h1 class="text-2xl font-bold text-gray-900 mb-8 text-center tracking-wide">
            Создать продукт
        </h1>
        <form id="addProductForm" method="post" enctype="multipart/form-data" class="space-y-6" 
              hx-post="{% url 'users:create_product' %}" 
              hx-target="#main-content">
            {% csrf_token %}
            <div id="form-errors" class="mb-4">
                {% if form.non_field_errors %}
                    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div>
                {{ form.name }}
                {% if form.name.errors %}
                    <div class="text-red-500 text-xs mt-1">{{ form.name.errors }}</div>
                {% endif %}
            </div>

            <div>
                {{ form.color }}
                {% if form.color.errors %}
                    <div class="text-red-500 text-xs mt-1">{{ form.color.errors }}</div>
                {% endif %}
            </div>

            <div>
                {{ form.price }}
                {% if form.price.errors %}
                    <div class="text-red-500 text-xs mt-1">{{ form.price.errors }}</div>
                {% endif %}
            </div>

                  
            <div>
                {{ form.category }}
                {% if form.category.errors %}
                    <div class="text-red-500 text-xs mt-1">{{ form.category.errors }}</div>
                {% endif %}
            </div>

            <div>
                {{ form.description }}
                {% if form.description.errors %}
                    <div class="text-red-500 text-xs mt-1">{{ form.description.errors }}</div>
                {% endif %}
            </div>
            <div>
                {{ form.url }}
                {% if form.url.errors %}
                    <div class="text-red-500 text-xs mt-1">{{ form.url.errors }}</div>
                {% endif %}
            </div>
            <div>
                {{ form.main_image }}
                {% if form.main_image.errors %}
                    <div class="text-red-500 text-xs mt-1">{{ form.main_image.errors }}</div>
                {% endif %}
            </div>

            
            <div class="grid grid-cols-2 gap-4 pt-4">
                <button 
                    type="submit"
                    class="bg-black hover:bg-gray-500 text-white font-semibold py-3 px-6 transition-colors duration-200 text-sm tracking-wide"
                >
                    Создать
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    document.querySelectorAll('.dotted-input').forEach(input => {
        input.addEventListener('focus', function() {
            this.parentElement.classList.add('focused');
        });
        input.addEventListener('blur', function() {
            this.parentElement.classList.remove('focused');
        });
    });
</script>
