<!-- Home content for HTMX requests -->
<main class="mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <div class="text-center py-20">
        <h2 class="text-4xl font-bold tracking-tight text-gray-900 mb-4">
            {% if user.is_authenticated %}
                <p> Привет, {{ user.login  }}</p>
            {% else %}
                <p>Привет, гость ! </p>
            {% endif %}
        </h2>
	{% if request.user.is_authenticated %}
        <p class="text-lg text-gray-600 mb-8">
            Выберите категорию для просмотра идей
        </p>
	{% else %}
	<p class="text-lg text-gray-600 mb-8">
            Войдите в аккаунт и добавьте товар в ваш Wishlist!
        </p>
	{% endif %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 max-w-2xl mx-auto">
            <a href="{% url 'main:catalog_all' %}" 
                hx-get="{% url 'main:catalog_all' %}" 
                hx-target="#main-content" 
                hx-push-url="true"
                class="block p-8 border border-gray-200 hover:border-gray-300 transition-colors">
                <h3 class="text-xl font-bold">Все идеи</h3>
            </a>
            
         </div>
    </div>
</main>
